.popup__title {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin: 34px auto 50px 36px;
}
@media screen and (max-width: 1280px) {
    .popup__title {
        margin-top: calc(27px + (34 - 27) * ((100vw - 320px) / (1280 - 320)));
        margin-left: calc(22px + (36 - 22) * ((100vw - 320px) / (1280 - 320)));
        font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1280 - 320)));
        margin-bottom: calc(75px + (50 - 75) * ((100vw - 320px) / (1280 - 320)));
    }
}
