.profile__subtitle {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width: 1280px) {
    .profile__subtitle {
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1280 - 320)));
    }
}
@media screen and (max-width: 768px) {
    .profile__subtitle {
        text-align: center;
        margin: 0 calc(27px + (200 - 27) * ((100vw - 320px) / (1280 - 320)));
        margin-bottom: 34px;
    }
}