.footer__copyright {
    margin: 0 auto;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #545454;
    margin-top: 70px;
    padding-bottom: 60px;
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    margin-left: 200px;
    }
  }
@media screen and (max-width: 1280px) {
  .footer__copyright {
    margin-left: calc(20px + (200 - 20) * ((100vw - 320px) / (1280 - 320)));
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1280 - 320)));
    margin-top: calc(49px + (72 - 49) * ((100vw - 320px) / (1280 - 320)));
    padding-bottom: calc(36px + (60 - 36) * ((100vw - 320px) / (1280 - 320)));
    }
}
