.profile {
    display: flex;
    margin: 41px auto 48px;
    max-width: 880px;
}
@media screen and (min-width: 1280px) {
    .profile {
    margin-left: 200px;
    margin-right: 200px;
    }
}
@media screen and (max-width: 1280px) {
    .profile {
    margin-left: calc(27px + (200 - 27) * ((100vw - 320px) / (1280 - 320)));
    margin-right: calc(27px + (200 - 27) * ((100vw - 320px) / (1280 - 320)));
    margin-bottom: calc(36px + (50 - 36) * ((100vw - 320px) / (1280 - 320)));
    }
}
@media screen and (max-width: 768px) {
    .profile {
        margin-left: 0;
        margin-right: 0;
        margin-top: calc(36px + (50 - 36) * ((100vw - 320px) / (1768 - 320)));
        flex-direction: column;
    }
}

 