.popup {
    display: flex;
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    place-items: center;
    top: 0;
    left: 0;
    height: 0;
    transition: height 0s 200ms, opacity 200ms 0s;
    opacity: 0;
}

#photo.popup{
    background-color: rgba(0,0,0,0.9);
}